@media screen and (max-width: 1200px) {
  .what-is-sugaring {
    background: url(../img/01__1400.jpg);
  }
  .header {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }
  .header__logo-title {
    display: none;
  }
  .header__menu {
    display: none;
    width: 100%;
    padding-bottom: 10px;
  }
  .header__menu-list {
    display: block;
    width: 100%;
  }
  .header__mobile-menu {
    display: block;
  }
  .header__menu-list-item {
    text-align: center;
    margin-top: 10px;
  }
  .header__menu-list-item:not(:first-child) {
    margin-left: 0;
  }
  .advantages-of-sugaring__title, .bring-your-friends__title, .cabinet-in-the-center-of-yekaterinburg__title, .contacts__title, .convenient-payment-methods__title, .discount__title, .do-you-have-a-birthday__title, .online-record-form__title, .price__title, .reviews__title, .sugaring-master__title, .what-is-sugaring__title {
    letter-spacing: 2px;
    font-size: 2.5em;
    word-break: break-word;
  }
}

@media screen and (max-width: 970px) {
  .what-is-sugaring {
    background: url(../img/01__1200.jpg);
  }
  .contacts__title, .convenient-payment-methods__title, .discount__title, .do-you-have-a-birthday__title, .only-proven-materials__description-text, .only-proven-materials__title, .reviews__title, .sugaring-master__description-text {
    margin-left: 0;
    margin-top: 30px;
    max-width: 100%;
  }
  .record-online {
    width: 100%;
  }
  .only-proven-materials__description-text > p, .sugaring-master__description-text > p {
    text-align: center;
  }
  .online-record-link {
    -ms-flex-item-align: center;
    -webkit-align-self: center;
    -ms-grid-row-align: center;
        align-self: center;
  }
}

@media screen and (max-width: 768px) {
  .what-is-sugaring {
    background: url(../img/01__1000.jpg);
  }
  .container {
    padding-left: 5px;
    padding-right: 5px;
  }
  .header__logo-title {
    display: none;
  }
  .what-is-sugaring {
    margin-top: 40px;
  }
  .advantages-of-sugaring__title, .bring-your-friends__title, .cabinet-in-the-center-of-yekaterinburg__title, .contacts__title, .convenient-payment-methods__title, .discount__title, .do-you-have-a-birthday__title, .online-record-form__title, .only-proven-materials__title, .price__title, .reviews__title, .sugaring-master__title, .what-is-sugaring__title {
    letter-spacing: 1px;
    font-size: 1.5em;
  }
  .do-it-right-now {
    font-size: 1.2em;
  }
  .discount-conditions {
    font-size: 1em;
  }
  .what-is-sugaring__description {
    font-size: 1em;
    line-height: 1.2;
  }
  .album-orientation {
    max-width: 96%;
  }
  .footer__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    -ms-flex-direction: column-reverse;
    flex-direction: column-reverse;
  }
  .footer__description, .footer__overlay {
    margin: 0 auto;
  }
  .footer__description-text, .footer__description > a {
    text-align: center;
  }
}

@media screen and (max-width: 450px) {
  .what-is-sugaring {
    background: url(../img/01__600.jpg);
  }
  .header {
    padding-left: 5px;
    padding-right: 5px;
  }
  .header__logo > img {
    width: 50px;
  }
  .header__phone {
    letter-spacing: 0;
    font-size: 1.1em;
  }
  .header__mobile-menu {
    background-position-y: -5px;
    width: 34px;
    height: 24px;
  }
  .do-it-right-now {
    font-size: 1.1em;
  }
  .advantages-of-sugaring__title, .bring-your-friends__title, .cabinet-in-the-center-of-yekaterinburg__title, .contacts__title, .convenient-payment-methods__title, .discount__title, .do-you-have-a-birthday__title, .online-record-form__title, .only-proven-materials__title, .price__title, .reviews__title, .sugaring-master__title, .what-is-sugaring__title {
    letter-spacing: 0;
    font-size: 1.2em;
  }
  .sugaring-master__description-image {
    width: 300px;
    height: 375px;
  }
  .only-proven-materials__description-container > img {
    width: 300px;
    height: 450px;
  }
}
