.do-you-have-a-birthday {
    padding-top: 50px;
    padding-bottom: 80px;
    background-size: cover !important;
    background-repeat: no-repeat !important;
    background-position: center center !important
}

.do-you-have-a-birthday__title {
    text-align: center;
    color: #fff;
    text-transform: uppercase;
    font-size: 2.8em;
    letter-spacing: 3px;
    font-weight: 700;
    font-family: "NotoSans-SemiBold";
    word-break: break-word;
    line-height: 1.2
}

.do-you-have-a-birthday__description {
    color: #fff;
    text-align: center;
    font-size: 1.2em;
    line-height: 1.2;
    margin-top: 20px
}