.what-is-sugaring {
    padding-top: 50px;
    padding-bottom: 80px;
    margin-top: 50px;
    background: url(../img/01.jpg);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat
}

.what-is-sugaring__title {
    text-align: center;
    color: #fff;
    text-transform: uppercase;
    font-size: 2.8em;
    letter-spacing: 3px;
    font-weight: 700;
    font-family: "NotoSans-Regular";
    word-break: break-word;
    line-height: 1.2
}

.what-is-sugaring__description {
    color: #fff;
    font-size: 1.5em;
    text-align: center;
    line-height: 1.3
}