<article class="advantages-of-sugaring">
    <div class="container">
        <h2 class="advantages-of-sugaring__title">Преимущества шугаринга</h2>
        <div class="advantages-of-sugaring__items-container">
            <figure class="advantages-of-sugaring__item">
                <img src="img/icons/icons.svg#long-effect" class="svg-long-effect-dims item-image" alt="">
                <figcaption>
                    <h4 class="advantages-of-sugaring__item-title">Длительность</h4>
                    <p class="advantages-of-sugaring__item-description">Гладкая кожа
                        до 4-6 недель. Волос не успевает полноценно сформироваться.</p>
                </figcaption>
            </figure>
            <figure class="advantages-of-sugaring__item">
                <img src="img/icons/icons.svg#safety" class="svg-safety-dims item-image" alt="безопасность">
                <figcaption>
                    <h4 class="advantages-of-sugaring__item-title">Безопасность</h4>
                    <p class="advantages-of-sugaring__item-description">Паста имеет температуру
                        тела, что исключает получение ожогов в отличии от воска.</p>
                </figcaption>
            </figure>
            <figure class="advantages-of-sugaring__item">
                <img src="img/icons/icons.svg#hypoallergenic" class="svg-hypoallergenic-dims item-image" alt="гипо">
                <figcaption>
                    <h4 class="advantages-of-sugaring__item-title">Гипоаллергенность</h4>
                    <p class="advantages-of-sugaring__item-description">100% натуральные
                        компененты (тростниковый сахар, вода). Процедура почти
                        безболезненна.</p>
                </figcaption>
            </figure>

        </div>
    </div>
</article>