<article class="bring-your-friends">
    <div class="container">
        <h2 class="bring-your-friends__title">Приходите с подругой и получите
            купон 250р!</h2>
        <p class="bring-your-friends__description">Найти «своего» мастера сложно. Порекомендуйте
            шугаринг-студию «Карамель» своим друзьям.</p>
        <p class="bring-your-friends__description">Если Ваша подруга или друг обратятся к нам,
            Вы получите купон на 250р. на следующую процедуру шугаринга!</p>
        @@include('./_callback-form.html')
        <p class="discount-conditions">*Скидки по различным акциям не суммируются.
            Вы самостоятельно выбираете какой скидкой Вам воспользоваться.</p>
        <p class="discount-conditions">**Скидка действует на зоны и комплексы стоимостью более
            600р.</p>
    </div>
</article>