<form class="callback-form" action="send.php" method="post">
  <label for="name" style="display: none;">Имя</label>
  <input class="callback-form__input" id="name" type="text" name="name" placeholder="Ваше имя" required>

  <label for="phone" style="display: none;">номер телефона</label>
  <input class="callback-form__input phone" id="phone" type="text" name="phone" required>
  <button aria-label="Записаться" class="callback-form__submit-btn" type="submit" onclick="showSnackBar()">
    Записаться
  </button>
  <div class="snackBar">Спасибо за заявку! Мы свяжемся с Вами в ближайшее время</div>
</form>