<div id="contacts"></div>
<article class="contacts">
    <div class="container">
        <h2 class="contacts__title">Контакты</h2>
        <p class="contacts__description"><a href="tel:+79961746404">+7 (996) 174-64-04</a>
            (WhatsApp, Viber, Telegram, SMS)</p>
        <p class="contacts__description">Екатеринбург, ул. Антона Валека, 15 оф. 305. ПН-ПТ 
            9-22, СБ-ВС  10-22 (по предварительной записи)</p>
        <p class="contacts__description">Гибкий график работы: приходите тогда, когда Вам будет
            удобно — утром, вечером или даже в обед!</p>
        <p class="contacts__description">Транспортная доступность: «Карамель» находится в самом
            центре Екатеринбурга (рядом с БЦ «Прайм»).</p>
        <p class="contacts__description">Сюда можно добраться на метро, автобусах, трамваях,
            троллейбусах и маршрутках. Бесплатная парковка для Вашего автомобиля напротив
            здания, в котором находится «Карамель».</p>
    </div>
</article>
<iframe class="mt-5"
    data-map-src="https://yandex.ru/map-widget/v1/?um=constructor%3Acad1eaab4b6482c6cd544e61ba9d2880450dcf37e24a7c2d613767a1284feaeb&amp;source=constructor"
    width="100%" height="500" frameborder="0"></iframe>
<!-- <div class="lazyload map" id="map"></div> -->