<article class="discount" id="discount">
    <div class="container">
        <h2 class="discount__title">Студия «Карамель» любит своих клиентов
            и дарит им скидки до 400р!</h2>
        <p class="discount__description">Получайте не только качественные услуги, но и экономьте
            на этом.</p>
        <p class="discount__description">В шугаринг-студии «Карамель» для постоянных клиентов
            действуют скидки.</p>
        <p class="discount__description">Скидка на 5-ю процедуру — 200р., а на 10-ю процедуру —
            400р.! Скидки не суммируются!</p>
        @@include('./_callback-form.html')
        <p class="discount-conditions">*Скидки по различным акциям не суммируются.
            Вы самостоятельно выбираете какой скидкой Вам воспользоваться.</p>
        <p class="discount-conditions">**Скидка действует на зоны и комплексы стоимостью более
            600р.</p>
    </div>
</article>