<article class="lazyload do-you-have-a-birthday">
    <div class="container">
        <h2 class="do-you-have-a-birthday__title">У вас день рождения?
            Мы дарим подарки — купон 400р. для именинников!</h2>
        <p class="do-you-have-a-birthday__description">Будьте в этот день неотразимы! Получите
            особенный подарок от нашей шугаринг-студии «Карамель» в виде персонального купона на
            сумму 400р. Для этого просто предъявите документ, удостоверяющий личность.</p><br>
        <p class="do-you-have-a-birthday__description">Акция действует в течение 7 дней ДО
            и ПОСЛЕ дня рождения. Успейте записаться со скидкой!</p>
        @@include('./_callback-form.html')
        <p class="discount-conditions">*Скидки по различным акциям не суммируются.
            Вы самостоятельно выбираете какой скидкой Вам воспользоваться.</p>
        <p class="discount-conditions">**Скидка действует на зоны и комплексы стоимостью более
            600р.</p>
    </div>
</article>