<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <meta name="yandex-verification" content="fd30840605e2f0b4">
  <meta http-equiv="etag" content="4e7c9c552200ea9a3090718931e3bf6b">
  <meta name="description"
    content="Шугаринг-студия &amp;quot;Карамель&amp;quot; в Екатеринбурге. Сертифицированные мастера по мужскому и женскому шугарингу. Работаем 7 дней в неделю с утра и до позднего вечера. Качественный шугаринг у мастеров которые заработали отзывы честно и нигде их не покупали. Приходите и убедитесь сами.">
  <meta name="keywords"
    content="шугаринг екатеринбург, шугаринг карамель, эпиляция, депиляция, шугаринг цена, шугаринг преимущества, шугаринг екб, шугаринг зоны, шугаринг зоны бикини, шугаринг купить, шугаринг глубокое, шугаринг екб, шугаринг салонб студия шугарингаб мужской шугаринг, правильный шугаринг, качественный шугаринг, депиляция бикини, шугаринг глубокое бикини">
  <link rel="shortcut icon" href="img/favicon.ico">
  <!-- <link rel="stylesheet" href="libs/slick.css"> -->
  <!-- <link rel="stylesheet" href="libs/slick-theme.css"> -->
  <link rel="stylesheet" href="css/style.min.css">
  <title>Шугаринг КАЧЕСТВЕННО! В центре Екатеринбурга. Все отзывы честные!</title>
</head>
</head>