<header class="header"><a class="header__logo" href="#">
        <picture>
            <source srcset="img/header__logo.webp" type="image/webp">
            <img src="img/header__logo.png" alt="logo">
        </picture>

        <h1 class="header__logo-title">Шугаринг-студия «Карамель»</h1>
    </a><a class="header__phone" href="tel:+79961746404">+7(996)174-64-04</a>
    <button class="header__mobile-menu svg-menu-button-dims" id="mobile-menu-btn"></button>
    <nav class="header__menu">
        <ul class="header__menu-list">
            <li class="header__menu-list-item"><a class="header__menu-link online-record-link"
                    href="https://beauty.dikidi.net/ru/record/58227" target="_blank" rel="nofollow">Записаться</a></li>
            <li class="header__menu-list-item"><a class="header__menu-link" href="#prices">Цены</a>
            </li>
            <li class="header__menu-list-item"><a class="header__menu-link" href="#sugaring-masters">Мастера</a></li>
            <li class="header__menu-list-item"><a class="header__menu-link" href="#reviews">Отзывы</a></li>
            <li class="header__menu-list-item"><a class="header__menu-link" href="#contacts">Контакты</a>
            </li>
        </ul>
    </nav>
</header>