<article class="sugaring-master no-padding-bottom">
    <div class="container">
        <h2 class="sugaring-master__title">Привет, я Юлия Романцова - 
            сертифицированный мастер шугаринга</h2>
        <div class="sugaring-master__description-container">
            <picture>
                <source data-srcset="img/master-romantsova.webp" type="image/webp">
                <img class="lazyload sugaring-master__description-image" data-src="img/master-romantsova.png"
                    alt="master">
            </picture>
            <div class="sugaring-master__description-text">
                <p>Занимаюсь женским шугарингом,
                    владею скоростной и обезбаливающей техниками шугаринга. Так же провожу процедуру
                    эпиляции воском.</p><br>
                <p>Мои принципы в работе:</p>
                <p>1. Постоянное развитие и повышение качества выполнения процедуры;</p>
                <p>2. Стремление найти к каждому без исключения индивидуальный подход;</p><a class="online-record-link"
                    href="https://beauty.dikidi.net/ru/record/58227" target="_blank" rel="nofollow">записаться ко мне
                    онлайн</a>
            </div>
        </div>
    </div>
    <div class="certificates">
        <div class="slideshow-container">
            <picture>
                <source data-srcset="img/romantsova-01.webp" type="image/webp">
                <img class="lazyload album-orientation mySlides-polukova" data-src="img/romantsova-01.jpg"
                    alt="certificate">
            </picture>
            <picture>
                <source data-srcset="img/romantsova-02.webp" type="image/webp">
                <img class="lazyload album-orientation mySlides-polukova" data-src="img/romantsova-02.jpg"
                    alt="certificate">
            </picture>
            <picture>
                <source data-srcset="img/romantsova-03.webp" type="image/webp">
                <img class="lazyload album-orientation mySlides-polukova" data-src="img/romantsova-03.jpg"
                    alt="certificate">
            </picture>
            <picture>
                <source data-srcset="img/romantsova-04.webp" type="image/webp">
                <img class="lazyload portrait-orientation mySlides-polukova" data-src="img/romantsova-04.jpg"
                    alt="certificate">
            </picture>
            <picture>
                <source data-srcset="img/romantsova-05.webp" type="image/webp">
                <img class="lazyload portrait-orientation mySlides-polukova" data-src="img/romantsova-05.jpg"
                    alt="certificate">
            </picture>
            <picture>
                <source data-srcset="img/romantsova-06.webp" type="image/webp">
                <img class="lazyload portrait-orientation mySlides-polukova" data-src="img/romantsova-06.jpg"
                    alt="certificate">
            </picture>
            <picture>
                <source data-srcset="img/romantsova-07.webp" type="image/webp">
                <img class="lazyload portrait-orientation mySlides-polukova" data-src="img/romantsova-07.jpg"
                    alt="certificate">
            </picture>
            <picture>
                <source data-srcset="img/romantsova-08.webp" type="image/webp">
                <img class="lazyload portrait-orientation mySlides-polukova" data-src="img/romantsova-08.jpg"
                    alt="certificate">
            </picture>
            <button class="prev" onclick="addSlides(-1)">❮</button>
            <button class="next" onclick="addSlides(1)">❯</button>
        </div>
    </div>
</article>