<article class="sugaring-master no-padding-bottom">
    <div class="container">
        <h2 class="sugaring-master__title">Привет, я Юлия Калинина -
            опытный мастер мужского и женского шугаринга.</h2>
        <div class="sugaring-master__description-container">
            <picture>
                <source data-srcset="img/master-kalinina.webp" type="image/webp">
                <img class="lazyload sugaring-master__description-image" data-src="img/master-kalinina.png"
                    alt="master">
            </picture>
            <div class="sugaring-master__description-text">
                <p>Делаю мир лучше с 2017го года.</p><br>
                <p>Несколько фактов о Юле: </p>
                <p>1. Сертифицированный мастер Мужского и Женского шугаринга;</p>
                <p>2. ШУГАРИНГ - ЭТО её любовь. И Вы можете в этом убедиться. Она всегда
                    рада принять вас на процедуру;</p>
                <p>3. Работает Юля только одноразовым расходными материалами, профессиональной сахарной пастой, и
                    средствами по уходу;</p>
                <p>4. Быстро и качественно выполняет свою ЛЮБИМУЮ работу;</p>
                <p>5. Практикует разные техники, в зависимости от эпилируемой зоны.</p>
                <a class="online-record-link" href="https://beauty.dikidi.net/ru/record/58227" target="_blank"
                    rel="nofollow">записаться ко мне
                    онлайн</a>
            </div>
        </div>
    </div>
    <div class="certificates">
        <div class="slideshow-container">
            <picture>
                <source data-srcset="img/kalinina-01.webp" type="image/webp">
                <img class="lazyload album-orientation mySlides-kalinina" data-src="img/kalinina-01.jpeg"
                    alt="certificate">
            </picture>
            <picture>
                <source data-srcset="img/kalinina-02.webp" type="image/webp">
                <img class="lazyload album-orientation mySlides-kalinina" data-src="img/kalinina-02.jpeg"
                    alt="certificate">
            </picture>
            <picture>
                <source data-srcset="img/kalinina-03.webp" type="image/webp">
                <img class="lazyload album-orientation mySlides-kalinina" data-src="img/kalinina-03.jpeg"
                    alt="certificate">
            </picture>
            <picture>
                <source data-srcset="img/kalinina-04.webp" type="image/webp">
                <img class="lazyload album-orientation mySlides-kalinina" data-src="img/kalinina-04.jpeg"
                    alt="certificate">
            </picture>
            <picture>
                <source data-srcset="img/kalinina-05.webp" type="image/webp">
                <img class="lazyload album-orientation mySlides-kalinina" data-src="img/kalinina-05.jpeg"
                    alt="certificate">
            </picture>
            <picture>
                <source data-srcset="img/kalinina-06.webp" type="image/webp">
                <img class="lazyload album-orientation mySlides-kalinina" data-src="img/kalinina-06.jpeg"
                    alt="certificate">
            </picture>
            <picture>
                <source data-srcset="img/kalinina-07.webp" type="image/webp">
                <img class="lazyload album-orientation mySlides-kalinina" data-src="img/kalinina-07.jpeg"
                    alt="certificate">
            </picture>
            <button class="prev" onclick="addSlides(-1)">❮</button>
            <button class="next" onclick="addSlides(1)">❯</button>
        </div>
    </div>
</article>