<article class="sugaring-master no-padding-bottom">
    <div class="container">
        <h2 class="sugaring-master__title">ПРИВЕТ, Я ЕКАТЕРИНА ПРОКУРОНОВА —
            СЕРТИФИЦИРОВАННЫЙ МАСТЕР ПО ШУГАРИНГУ И ВАКСИНГУ</h2>
        <div class="sugaring-master__description-container">
            <picture>
                <source data-srcset="img/master-prokuronova.webp" type="image/webp">
                <img class="lazyload sugaring-master__description-image" data-src="img/master-prokuronova.png"
                    alt="master">
            </picture>
            <div class="sugaring-master__description-text">
                <p>Я влюблена в эпиляцию))) Буду рада
                    принять вас на процедуру)</p>
                <p>Работаю только одноразовыми расходными материалами, профессиональными
                    сахарными пастами, восками и средствами по уходу.</p>
                <p>Быстро и качественно выполняю свою ЛЮБИМУЮ работу. Практикую разные
                    техники.</p>
                <p>Я буду рада стать Вашим Мастером и подарить Вам хорошее настроение!!!</p><br>
                <p>Несколько интересных фактов о Кате:</p>
                <p>1. Молодая мама;</p>
                <p>2. Мечтала быть полицейским;</p>
                <p>3. Есть диплом агронома;</p>
                <p>4. Умею шить, вязать и вышивать;</p>
                <p>5. Верю что мечты должны сбываться.</p><a class="online-record-link"
                    href="https://beauty.dikidi.net/ru/record/58227" target="_blank" rel="nofollow">записаться
                    ко мне онлайн</a>
            </div>
        </div>
    </div>
    <div class="certificates">
        <div class="slideshow-container">
            <picture>
                <source data-srcset="img/prokuronova-01.webp" type="image/webp">
                <img class="lazyload album-orientation mySlides" data-src="img/prokuronova-01.jpg" alt="certificate">
            </picture>
            <picture>
                <source data-srcset="img/prokuronova-02.webp" type="image/webp">
                <img class="lazyload album-orientation mySlides" data-src="img/prokuronova-02.jpg" alt="certificate">
            </picture>
            <picture>
                <source data-srcset="img/prokuronova-03.webp" type="image/webp">
                <img class="lazyload album-orientation mySlides" data-src="img/prokuronova-03.jpg" alt="certificate">
            </picture>
            <picture>
                <source data-srcset="img/prokuronova-04.webp" type="image/webp">
                <img class="lazyload album-orientation mySlides" data-src="img/prokuronova-04.jpg" alt="certificate">
            </picture>
            <picture>
                <source data-srcset="img/prokuronova-05.webp" type="image/webp">
                <img class="lazyload album-orientation mySlides" data-src="img/prokuronova-05.jpg" alt="certificate">
            </picture>
            <picture>
                <source data-srcset="img/prokuronova-06.webp" type="image/webp">
                <img class="lazyload album-orientation mySlides" data-src="img/prokuronova-06.jpg" alt="certificate">
            </picture>
            <button class="prev" onclick="plusSlides(1)">❮</button>
            <button class="next" onclick="plusSlides(1)">❯</button>
        </div>
    </div>
    </div>
</article>