<article class="only-proven-materials">
    <div class="container">
        <h2 class="only-proven-materials__title">Только проверенные
            материалы</h2>
        <div class="only-proven-materials__description-container">
            <picture>
                <source data-srcset="img/only-proven-materials.webp" type="image/webp">
                <img class="lazyload only-proven-materials__img" data-src="img/only-proven-materials.jpg" alt="pic">
            </picture>

            <div class="only-proven-materials__description-text">
                <p>В шугаринг-студии «Карамель»
                    я использую только качественные материалы, отдавая предпочтение в первую очередь
                    надежности, а не низкой цене.</p><br>
                <p>Каждая процедура выполняется с использованием одноразовых расходных
                    материалов (простыни, перчатки, шпатели). Все щипцы и пинцеты стерилизуются
                    несколько раз перед их использованием, что гарантирует максимальную
                    гигиеничность процедуры.</p><br>
                <p>Пасту для шугаринга и воск я использую только израильского производства,
                    которую заказываю у надежных и проверенных поставщиков. Вся продукция
                    сертифицирована.</p>
            </div>
        </div>
    </div>
</article>