<article class="convenient-payment-methods">
    <div class="container">
        <h2 class="convenient-payment-methods__title">Удобные способы
            оплаты</h2>
        <div class="convenient-payment-methods__icons-container">
            <img class="lazyload pay-method__img svg-cash-dims" data-src="img/icons/icons.svg#cash" alt="cash">
            <img class="lazyload pay-method__img svg-visa-mastercard-dims"
                data-src="img/icons/icons.svg#visa-mastercard">
            <img class="lazyload pay-method__img svg-sberbank-online-dims"
                data-src="img/icons/icons.svg#sberbank-online">
            <img class="lazyload pay-method__img svg-alfa-bank-dims" data-src="img/icons/icons.svg#alfa-bank">
            <img class="lazyload pay-method__img svg-raiffeisen-bank-dims"
                data-src="img/icons/icons.svg#raiffeisen-bank">
            <img class="lazyload pay-method__img svg-yandex-money-dims" data-src="img/icons/icons.svg#yandex-money">
        </div>
        <p class="convenient-payment-methods__description">В шугаринг-студии «Карамель»
            Вы можете оплатить услуги наличными, переводами через Сбербанк Онлайн, Альфа-банк,
            Райффайзен банк, или воспользоваться системой денежных переводов Яндекс.
            При этом никакой дополнительной комиссии не взимается.</p>
        <div class="payform">
            <iframe
                data-money-src="https://money.yandex.ru/quickpay/shop-widget?writer=seller&amp;targets=%D0%A8%D1%83%D0%B3%D0%B0%D1%80%D0%B8%D0%BD%D0%B3&amp;targets-hint=&amp;default-sum=200&amp;button-text=12&amp;payment-type-choice=on&amp;hint=&amp;successURL=&amp;quickpay=shop&amp;account=410014981140158"
                width="423" height="230" frameborder="0" allowtransparency="true" scrolling="no"></iframe>
        </div>
    </div>
</article>