<div id="prices">
    <article class="price">
        <div class="container">
            <h2 class="price__title">Цены на шугаринг</h2>
            <div class="price-list">
                <div class="accordeon" data-accordeon="open">
                    <div class="woman-epilation">
                        <h3 class="accordeon-header active weman-title-bgc">ЖЕНСКАЯ
                            ЭПИЛЯЦИЯ</h3>
                        <div class="epilation-body">
                            <h4 class="accordeon-header weman-bgc">
                                ШУГАРИНГ</h4>
                            <div class="accordeon-body weman-bgc">
                                <div class="prices"><span
                                        class="service-price width-100 prices items-center"><span>Комплекс №
                                            1<br>(Глубокое бикини + подмышки)</span><span>1400р.</span></span>
                                </div>
                                <div class="prices"><span
                                        class="service-price width-100 prices items-center"><span>Комплекс №
                                            2<br>(Глубокое бикини + подмышки + голени)</span><span>2100р.</span></span>
                                </div>
                                <div class="prices"><span
                                        class="service-price width-100 prices items-center"><span>Комплекс №
                                            3<br>(Глубокое бикини + подмышки + ноги
                                            полностью)</span><span>2600р.</span></span>
                                </div>
                                <div class="prices"><span
                                        class="service-price width-100 prices items-center"><span>Глубокое
                                            бикини</span><span>1200р.</span></span>
                                </div>
                                <div class="prices"><span
                                        class="service-price width-100 prices items-center"><span>Классическое
                                            бикини</span><span>600р.</span></span>
                                </div>
                                <div class="prices"><span
                                        class="service-price width-100 prices items-center"><span>Подмышки</span><span>300р.</span></span>
                                </div>
                                <div class="prices"><span
                                        class="service-price width-100 prices items-center"><span>Голени +
                                            колени</span><span>800р.</span></span>
                                </div>
                                <div class="prices"><span
                                        class="service-price width-100 prices items-center"><span>Бедра +
                                            колени</span><span>800р.</span></span>
                                </div>
                                <div class="prices"><span class="service-price width-100 prices items-center"><span>Ноги
                                            полностью</span><span>1400р.</span></span>
                                </div>
                                <div class="prices"><span class="service-price width-100 prices items-center"><span>Руки
                                            до локтя + локоть</span><span>700р.</span></span>
                                </div>
                                <div class="prices"><span class="service-price width-100 prices items-center"><span>Руки
                                            полностью</span><span>900р.</span></span>
                                </div>
                                <div class="prices"><span
                                        class="service-price width-100 prices items-center"><span>Дорожка на
                                            животе</span><span>200р.</span></span>
                                </div>
                                <div class="prices"><span class="service-price width-100 prices items-center"><span>Зона
                                            над губой</span><span>200р.</span></span>
                                </div>
                                <div class="prices"><span
                                        class="service-price width-100 prices items-center"><span>Подбородок</span><span>200р.</span></span>
                                </div>
                                <div class="prices"><span
                                        class="service-price width-100 prices items-center"><span>Лицо</span><span>500р.</span></span>
                                </div>
                            </div>
                        </div>
                        <div class="epilation-body">
                            <h4 class="accordeon-header weman-bgc">
                                ЭПИЛЯЦИЯ ВОСКОМ</h4>
                            <div class="accordeon-body weman-bgc">
                                <div class="prices"><span
                                        class="service-price width-100 prices items-center"><span>Голени +
                                            колени</span><span>800р.</span></span>
                                </div>
                                <div class="prices"><span
                                        class="service-price width-100 prices items-center"><span>Бедра +
                                            колени</span><span>800р.</span></span>
                                </div>
                                <div class="prices"><span class="service-price width-100 prices items-center"><span>Ноги
                                            полностью</span><span>1400р.</span></span>
                                </div>
                                <div class="prices"><span class="service-price width-100 prices items-center"><span>Руки
                                            до локтя + локоть</span><span>700р.</span></span>
                                </div>
                                <div class="prices"><span class="service-price width-100 prices items-center"><span>Руки
                                            полностью</span><span>900р.</span></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="accordeon" data-accordeon="open">
                    <div class="man-epilation">
                        <h3 class="accordeon-header active men-title-bgc">МУЖСКАЯ ЭПИЛЯЦИЯ</h3>
                        <div class="epilation-body">
                            <h4 class="accordeon-header men-bgc">
                                ШУГАРИНГ</h4>
                            <div class="accordeon-body men-bgc">
                                <div class="prices"><span
                                        class="service-price width-100 prices items-center"><span>Комплекс №
                                            1<br>(Глубокое бикини + подмышки)</span><span>2800р.</span></span>
                                </div>
                                <div class="prices"><span
                                        class="service-price width-100 prices items-center"><span>Комплекс № 4<br>(Спина
                                            + грудь + живот)</span><span>2500р.</span></span>
                                </div>
                                <div class="prices"><span
                                        class="service-price width-100 prices items-center"><span>Глубокое
                                            бикини</span><span>2400р.</span></span>
                                </div>
                                <div class="prices"><span
                                        class="service-price width-100 prices items-center"><span>Подмышки</span><span>600р.</span></span>
                                </div>
                                <div class="prices"><span class="service-price width-100 prices items-center"><span>Ноги
                                            полностью</span><span>2800р.</span></span>
                                </div>
                                <div class="prices"><span class="service-price width-100 prices items-center"><span>Руки
                                            полностью</span><span>1300р.</span></span>
                                </div>
                                <div class="prices"><span
                                        class="service-price width-100 prices items-center"><span>Шея</span><span>400р.</span></span>
                                </div>
                                <div class="prices"><span
                                        class="service-price width-100 prices items-center"><span>Спина</span><span>1200р.</span></span>
                                </div>
                                <div class="prices"><span
                                        class="service-price width-100 prices items-center"><span>Грудь</span><span>800р.</span></span>
                                </div>
                                <div class="prices"><span
                                        class="service-price width-100 prices items-center"><span>Живот</span><span>800р.</span></span>
                                </div>
                                <div class="prices"><span
                                        class="service-price width-100 prices items-center"><span>Поясница</span><span>400р.</span></span>
                                </div>
                                <div class="prices"><span
                                        class="service-price width-100 prices items-center"><span>Ягодицы</span><span>500р.</span></span>
                                </div>
                                <div class="prices"><span
                                        class="service-price width-100 prices items-center"><span>Лицо</span><span>от
                                            500р.</span></span>
                                </div>
                            </div>
                        </div>
                        <div class="epilation-body">
                            <h4 class="accordeon-header men-bgc">
                                ЭПИЛЯЦИЯ ВОСКОМ</h4>
                            <div class="accordeon-body men-bgc">
                                <div class="prices"><span class="service-price width-100 prices items-center"><span>Ноги
                                            полностью</span><span>2800р.</span></span>
                                </div>
                                <div class="prices"><span class="service-price width-100 prices items-center"><span>Руки
                                            полностью</span><span>1300р.</span></span>
                                </div>
                                <div class="prices"><span
                                        class="service-price width-100 prices items-center"><span>Спина</span><span>1200р.</span></span>
                                </div>
                                <div class="prices"><span
                                        class="service-price width-100 prices items-center"><span>Грудь</span><span>800р.</span></span>
                                </div>
                                <div class="prices"><span
                                        class="service-price width-100 prices items-center"><span>Живот</span><span>800р.</span></span>
                                </div>
                                <div class="prices"><span
                                        class="service-price width-100 prices items-center"><span>Поясница</span><span>400р.</span></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <h3 class="do-it-right-now">Запишитесь прямо сейчас!</h3>
            <iframe title="dikidi" class="online-record-iframe width-100"
                data-iframe-src="https://beauty.dikidi.net/ru/record/58227" frameborder="0"></iframe>
        </div>
    </article>
    <div id="sugaring-masters"></div>
</div>