<div id="reviews"></div>
<article class="reviews">
    <div class="container">
        <h2 class="reviews__title">Отзывы довольных клиентов</h2>
        <div class="reviews__items-container">
            <figure class="reviews__item">
                <picture>
                    <source data-srcset="img/reviews-stebelkova.webp" type="image/webp">
                    <img class="lazyload reviews__item-photo" data-src="img/reviews-stebelkova.jpg" alt="author photo">
                </picture>
                <figcaption>
                    <p class="reviews__item-description">Юленька! Большое спасибо
                        за качественный шугаринг! Процедура проходит очень быстро, ну, и практически
                        безболезненно) Мастер своего дела!</p><i class="reviews__item-author-name">Надюша
                        Стебелькова</i>
                </figcaption>
            </figure>
            <figure class="reviews__item">
                <picture>
                    <source data-srcset="img/reviews-bondaruk.webp" type="image/webp">
                    <img class="lazyload reviews__item-photo" data-src="img/reviews-bondaruk.jpg" alt="author photo">
                </picture>
                <figcaption>
                    <p class="reviews__item-description">Девочки, даже не раздумывайте,
                        а скорее бегите к Юле. Это великолепный мастер! Проходит все быстро,
                        не больно! А результат работы радует длительное время.</p><i
                        class="reviews__item-author-name">Марьяна Бондарук</i>
                </figcaption>
            </figure>
            <figure class="reviews__item">
                <picture>
                    <source data-srcset="img/reviews-ustugova.webp" type="image/webp">
                    <img class="lazyload reviews__item-photo" data-src="img/reviews-ustugova.jpg" alt="author photo">
                </picture>
                <figcaption>
                    <p class="reviews__item-description">Юля — это не только
                        профессионал своего дела, но и очень приятный собеседник! Процедура,
                        проходит безболезненно и очень быстро, и при этом качественно!</p><i
                        class="reviews__item-author-name">Татьяна Устюгова</i>
                </figcaption>
            </figure>
            <figure class="reviews__item">
                <picture>
                    <source data-srcset="img/reviews-kislyakova.webp" type="image/webp">
                    <img class="lazyload reviews__item-photo" data-src="img/reviews-kislyakova.jpg" alt="author photo">
                </picture>
                <figcaption>
                    <p class="reviews__item-description">Была первый раз у Юлии, и хочу
                        сказать спасибо!!! Юля профессионал своего дела, делает очень быстро
                        и качественно. Все терпимо))) дала много ценных советов и пожеланий))).
                        Желаю тебе процветания в твоей любимой профессии</p><i class="reviews__item-author-name">Таечка
                        Кислякова</i>
                </figcaption>
            </figure>
            <figure class="reviews__item">
                <picture>
                    <source data-srcset="img/reviews-ekimova.webp" type="image/webp">
                    <img class="lazyload reviews__item-photo" data-src="img/reviews-ekimova.jpg" alt="author photo">
                </picture>
                <figcaption>
                    <p class="reviews__item-description">Юля, спасибо большое
                        за шугаринг! Процедура пролетела незаметно и безболезненно, особенно
                        за разговором время пролетело незаметно, а это означает, что Юля не только
                        замечательный спец. своего дела, но и отличный собеседник! Спасибо большое!
                        Приду еще раз обязательно!!!</p><i class="reviews__item-author-name">Наталья
                        Екимова</i>
                </figcaption>
            </figure>
            <figure class="reviews__item">
                <picture>
                    <source data-srcset="img/reviews-poluektova.webp" type="image/webp">
                    <img class="lazyload reviews__item-photo" data-src="img/reviews-poluektova.jpg" alt="author photo">
                </picture>
                <figcaption>
                    <p class="reviews__item-description">Юля, спасибо! Невозможно
                        не написать отзыв! Осталась только с положительными эмоциями и гладкая, как
                        шёлк! Очень приятно было познакомиться!!!</p><i class="reviews__item-author-name">Елизавета
                        Полуэктова</i>
                </figcaption>
            </figure>
            <figure class="reviews__item">
                <picture>
                    <source data-srcset="img/reviews-gorbunova.webp" type="image/webp">
                    <img class="lazyload reviews__item-photo" data-src="img/reviews-gorbunova.jpg" alt="author photo">
                </picture>
                <figcaption>
                    <p class="reviews__item-description">Ходила на шугаринг первый раз,
                        долго выбирала студию и мастера, в итоге остановилась на студии «Карамель»
                        и не пожалела. Очень внимательное отношение, индивидуальный подход
                        к клиенту. Теперь буду ходить только сюда.</p><i class="reviews__item-author-name">Елизавета
                        Горбунова</i>
                </figcaption>
            </figure>
            <figure class="reviews__item">
                <picture>
                    <source data-srcset="img/reviews-zaykina.webp" type="image/webp">
                    <img class="lazyload reviews__item-photo" data-src="img/reviews-zaykina.jpg" alt="author photo">
                </picture>
                <figcaption>
                    <p class="reviews__item-description">Огромное спасибо мастеру
                        Юлии))) делала ранее процедуры в разных салонах и у разных мастеров,
                        но такой приятной эпиляции как в студии «Карамель» у меня ещё не было!
                        Никакого дискомфорта — всё быстро и качественно) кажется я нашла того самого
                        «своего» мастера!!!</p><i class="reviews__item-author-name">Анюта
                        Зайкина</i>
                </figcaption>
            </figure>
            <figure class="reviews__item">
                <picture>
                    <source data-srcset="img/reviews-antipenko.webp" type="image/webp">
                    <img class="lazyload reviews__item-photo" data-src="img/reviews-antipenko.jpg" alt="author photo">
                </picture>
                <figcaption>
                    <p class="reviews__item-description">Уже почти год я хожу
                        на шугаринг в Карамель, все некогда было оставить отзыв. Юля, ты мастер
                        своего дела, очень позитивный человек. Все очень быстро и совсем не больно,
                        я очень рада что нашла такого крутого мастера))) Спасибо!!!</p><i
                        class="reviews__item-author-name">Ирина Антипенко</i>
                </figcaption>
            </figure>
            <figure class="reviews__item">
                <picture>
                    <source data-srcset="img/reviews-semenko.webp" type="image/webp">
                    <img class="lazyload reviews__item-photo" data-src="img/reviews-semenko.jpg" alt="author photo">
                </picture>
                <figcaption>
                    <p class="reviews__item-description">Хочу поблагодарить Юлию
                        Полукову за ее профессионализм!!! Она очень внимательна к клиенту,
                        доброжелательна, свои функции выполняет на 5+!!! Я очень рада, что нашла
                        своего мастера:)))</p><i class="reviews__item-author-name">Оля Семенько</i>
                </figcaption>
            </figure>
            <figure class="reviews__item">
                <picture>
                    <source data-srcset="img/reviews-sultanova.webp" type="image/webp">
                    <img class="lazyload reviews__item-photo" data-src="img/reviews-sultanova.jpg" alt="author photo">
                </picture>
                <figcaption>
                    <p class="reviews__item-description">Мой первый и единственный
                        мастер! Юлия — настоящий профессионал своего дела! Процедуры проходят
                        быстро, качественно и совершенно безболезненно! Лучшая!</p><i
                        class="reviews__item-author-name">Юлия Султанова</i>
                </figcaption>
            </figure>
            <figure class="reviews__item">
                <picture>
                    <source data-srcset="img/reviews-koinova-ratanyuk.webp" type="image/webp">
                    <img class="lazyload reviews__item-photo" data-src="img/reviews-koinova-ratanyuk.jpg"
                        alt="author photo">
                </picture>
                <figcaption>
                    <p class="reviews__item-description">Добрый вечер! Юлия-прекрасный
                        мастер. Очень рада, что нашла! Время процедуры проходит незаметно благодаря
                        общению и безболезненно благодаря мастерству.</p><i class="reviews__item-author-name">Ирина
                        Койнова-Ратанюк</i>
                </figcaption>
            </figure>
            <a href="https://ekaterinburg.flamp.ru/firm/karamel_studiya-70000001026760826" target="_blank"
                rel="noopener">
                <figure class="reviews__item">
                    <picture>
                        <source data-srcset="img/reviews-flamp.webp" type="image/webp">
                        <img class="lazyload reviews__item-photo" data-src="img/reviews-flamp.jpg" alt="author photo">
                    </picture>
                    <figcaption>
                        <p class="reviews__item-description">Больше отзывов на Flamp</p>
                    </figcaption>
                </figure>
            </a><a href="https://vk.com/topic-137330872_35278155" target="_blank" rel="noopener">
                <figure class="reviews__item">
                    <img class="lazyload reviews__item-photo svg-reviews-vk-dims" src="img/icons/icons.svg#reviews-vk"
                        alt="pic">
                    <figcaption>
                        <p class="reviews__item-description">Больше отзывов во ВКонтакте</p>
                    </figcaption>
                </figure>
            </a>
        </div>
        <button class="show-more-reviews-btn" onclick="showMoreReviews()">ПОКАЗАТЬ ЕЩЕ ОТЗЫВЫ
        </button>
    </div>
</article>