<article class="what-is-sugaring">
    <div class="container">
        <h2 class="what-is-sugaring__title">Женский и мужской шугаринг в центре Екатеринбурга
            от 
            <wbr>
                сертифицированных
            <wbr>
                мастеров
            </h2>
        <p class="what-is-sugaring__description">Шугаринг — это наименее болезненный способ
            удаления волос с помощью сахарной пасты.</p>
        <p class="what-is-sugaring__description">Порадуйте себя — запишитесь прямо сейчас!</p>
        @@include('./_callback-form.html')
    </div>
</article>